.navigation{
    padding: 30px;
    position: relative;
    margin-right: 40px;
}
/* .navigation::after{
    content: '';
    position: absolute;
    top: 44px;
    right: 0px;
    height: 100%;
    width: 1px;
    background: var(--detailGray);
} */
.navigation a {
    text-decoration: none;
    color: var(--mainColor);
    cursor: pointer;
    font-family: var(--fontBold);
    height: auto;
    line-height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.active {
    color: var(--firstDetailColor) !important;
    border-bottom: 2px solid var(--firstDetailColor);
}
.profileContainer{
    display: flex;
    justify-content: center;
}