.swiper-button-prev, .swiper-button-next{
    color: var(--firstDetailColor);
    width: 60px;
    height: 60px;
    background: var(--transparentBlackColor);
    border-radius: 50%;
}
.swiper-button-prev:hover,
.swiper-button-next:hover{
    color: var(--mainColor);
    transition: .3s ease;
    transform: scale(1.05)
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--mainColor);
}
.swiper-pagination-bullet {
    width: 32px;
    height: 10px;
    border-radius: 0;
    background-color: #ffffff;
}
.swiper-pagination-bullet:hover{
    background-color: var(--firstDetailColor);
    opacity: 1;
}
.swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 110px;
}
.swiper-button-next{
    right: 20px;
}
.swiper-button-left{
    left: 20px;
}