.input{
    color: var(--mainColor);
    background-color: var(--detailGray);
    border: none;
    border-radius: 5px;
    height: 45px;
    outline: none;
    margin: 0 15px;
    padding-left: 10px;
}
.input:focus-visible{
    outline: none;
}
.login{
    
}
.registration{
    background-color: var(--mainColor);
    color: var(--detailGray);
}