.input {
    color: var(--mainColor);
    background-color: var(--detailGray);
    border: none;
    border-radius: 5px;
    height: 40px;
    outline: none;
    margin: 0 15px;
    padding-left: 10px;
}
.input:focus-visible {
    outline: none;
}
.login {
}
