.addBalanceContainer {
    width: 890px;
    padding-top: 30px;
    margin-top: 30px;
    background: #00000005;
    border: 1px solid var(--detailGray);
    padding: 30px 5px 0px 5px;
    position: relative;
}
.logo{
    background-image: url(../../../../assets/images/bank.png);
    width: calc(100% - 200px);
    position: absolute;
    height: 150px;
    background-repeat: no-repeat;
    top: 20px;
    background-position: -25px -15px;
    padding-left: 169px;
    display: flex;
    align-items: center;
    color: var(--mainGray);
    font-size: var(--fontSizeSm);
    border: 2px dashed var(--detailGray);
}
.deposit{
    color: var(--errorRed);
    font-family: var(--fontBold);
    padding-left: 12px;
}
