.button{
    width: auto;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    background: var(--secondDetailColor);
    color: var(--mainBgColor);
    font-family: var(--fontBold);
    font-size: var(--fontSizeMd);
    letter-spacing: 1px;
    transition: 0.2s;
}
.button:hover{
    background: #0169af;
    color:var(--mainColor);
}
.registration{
    background: var(--mainGreen);
    color: var(--mainBgColor);
}
.registration:hover{
    background: #49e53e;
    color: var(--mainBgColor);
}
.button.logout{
    background: red;
    text-transform: uppercase;
    color: var(--mainColor)
}
.button.logout:hover{
    color: black;
}
.submitRegistration{
    background: var(--firstDetailColor);
    height: 60px;
    padding: 0 50px;
    color: var(--mainBlack);
}
.submitRegistration:hover{
    background: var(--firstDetailHover);
    color: var(--mainBlack);
}
.account{
    background: var(--firstDetailColor);
    color: var(--mainBlack);
}
.account:hover{
    background: var(--firstDetailHover);
    color: var(--mainBlack);
}
.balance{
    background: var(--mainGreen);;
    color: var(--mainBlack);
    margin-right: 5px;
}
.balance:hover{
    background: #49e53e;
    color: var(--mainBlack);
}