.registration{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
    height: 700px;
    background: var(--mainBgColor);
    border-radius: 5px;
    overflow-y: scroll;
}
.registration::-webkit-scrollbar {
    display: none;
  }
.registration .label{
    width: 150px;
    text-align: right;
    font-family: var(--fontRegular);
}
.registration .inputContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    width: 100%;
    justify-content: center;
    position: relative;
}
.registration p{
    font-family: var(--fontBold);
    color: var(--errorRed);
    font-size: 12px;
    position: absolute;
    top: 40px;
    width: 220px;
    margin-left: 148px;
}
.termsCondition{
    color: #918f8f;
    font-family: var(--fontBold);
    width: 80%;
    text-align: center;
}
.registartionHeader{
    background: var(--firstDetailColor);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    color: var(--mainBlack);
    font-family: var(--fontMedium);
    letter-spacing: 1px;
    position: relative;
}
.registartionHeader::after{
    content: '';
    position: absolute;
    left: 17px;
    width: 31px;
    height: 25px;
    background-image: url(../../../assets/images/newUser.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.close{
    content: '';
    position: absolute;
    right: 17px;
    width: 31px;
    height: 31px;
    background-image: url(../../../assets/images/close.png),url(../../../assets/images/close-hover.png);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
.close:hover{
    opacity: 0.8;
    background: url(../../../assets/images/close-hover.png);
    background-size: cover;
}